{% extends "whopaid/base.html" %}
{% block content %}
    <div id="main">
    <div id="gradient">
    <div id="title">
     <h1>Why Couldn't I Find a Match?</h1>
     </div>

      <div id="about_content">
      
       <div class="line_a">
          <h3>Distorted or Missing Audio:</h3>
          <p>Ad Hawk needs about 15 seconds of clear audio to make a fingerprint of an ad. If there is ambient noise or if the recording is too short it could keep Ad Hawk from finding a match.</p>
       </div>
       
       <div class="line_a">
          <h3>Not in Our Database Yet:</h3>
          <p>We constantly monitor the web to discover and make audio fingerprints of political ads, but some ads are never posted online or are purposely difficult to find. Furthermore, political advertising disclosure requirements are less than optimal. We would like to see details of donors and ad buy information become available online in real time, but until that happens, we're on the watch for new ads day and night. For details about the process of adding advertisements to Ad Hawk, see our methodology on the <a href="/about">About page.</a></p>
       </div>
       
       <div class="line_a">
          <h3>No Internet Connection:</h3>
          <p>Ad Hawk requires an Internet connection to upload the audio fingerprint you made to compare it to our database of ads.</p>
       </div>
       
      </div> 
    </div>
    </div>
{% endblock %}
