{% extends "whopaid/base.html" %}
{% block content %}
    <div id="subhead">
      <div id="topgrade"></div>
      
        <h5 id="about_buttons">Ad Hawk was produced by the nonpartisan <a href="http://sunlightfoundation.com">Sunlight Foundation</a>, a nonpartisan, nonprofit organization. The app helps Americans know who spends money to influence their votes. It provides valuable contextual information about TV and radio ads during the 2012 Election. Now you can identify ads as they air and see who is behind them immediately on your mobile device.</h5>
        
       <form id="about_buttons">
          <button type="button" name="join" onClick="parent.location='join_url'">JOIN</button>
          <button type="button" name="donate" onClick="parent.location='donate_url'">DONATE</button>
        </form>
        
        
     <div id="about_content">

       <h3>History:</h3>
       <p>The idea behind Ad Hawk started at a Philadelphia’s Hacks/Hackers meetup, and the project began at the <a href="http://www.rhok.org">Random Hacks of Kindness</a> hackathon in December 2011. After a few months of follow-up work, the technology eventually found a home at the Sunlight Foundation for further development and publication. It is powered by Echoprint, an open source music fingerprint and resolving framework, created and made available by the good folks at <a href="http://the.echonest.com">The Echo Nest</a></p>
       
       <div id="line"></div>
       
       <h3>Methodology:</h3>
       <p>Ad Hawk listens to arbitrary audio coming into your mobile phone when you touch the "Identify this Ad" button and creates a short digital fingerprint to compare against the database of hundreds of political ads we collect. If the audio fingerprint finds a match, we send you the information collected in our database about the sponsor of the ad and other details such as money received or spent, where the ad is on the air, media reports on the political group or ad and places to find more information.</p>
       
       <p>Sunlight identifies new ads by monitoring media reports and the YouTube channels of political groups and campaigns. We research and pair these new ads with Federal Communications Commission data on ad spending, Federal Election Commission data on political contributions, press releases about ad buys and relevant news articles. We collect anonymized location data if users authorize us and hope to better map where ads are appearing around the country.</p>
       
       <div id="line"></div>
       
       <h3>Data Sources:</h3>
       <p>Ad Hawk relies on multiple data sources to provide you information on the ads you see. Much of the data originally comes from the federal government and would be greatly improved with a <a href="http://sunlightfoundation.com/blog/2011/12/20/sunlight-supports-a-centralized-fcc-database-of-information-about-political-ads">centralized, searchable and sortable database of political ads</a>. Here is how we collect the data:</p>
       
       <ul>
         <li>Expenditures, Donation Totals and Political Orientation come from <a href="http://reporting.sunlightfoundation.com/super-pac/data/about/2012-june-update">Follow the Unlimited Money</a></li>
         <li>Electioneering Communications data comes from the <a href="http://apps.fcc.gov/ecd">FCC</a></li>
         <li>Monitoring YouTube account of political groups</li>
         <li>Monitoring websites of political groups for press releases and announcements</li>
         <li>Monitoring media for mentions of new political ads</li>
       </ul>
       
       <div id="line"></div>
       
       <h3>Contact and More Information:</h3>
       <p>For questions or comments, please <a href="##">contact us</a>. We will respond promptly.</p>

       <p>Founded in 2006, the Sunlight Foundation is a nonpartisan nonprofit that uses cutting-edge technology and ideas to make government transparent and accountable. Visit <a href="http://sunlightfoundation.com">SunlightFoundation.com</a> to learn more.</p>



      </div>
    </div>
{% endblock %}
