<!DOCTYPE html>

<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Ad Hawk</title>
    
    <script type="text/javascript">
  (function() {
    var config = {
      kitId: 'wgi6ubk',
      scriptTimeout: 3000
    };
    var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
  })();
</script>
    
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/core.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/antiscreen.css" type="text/css" media="handheld,screen and (max-width: 800px)" />
    
  

  </head>
  <body>
  <div id="page">
    {% if client != "ios" and client != "android" %}
    <header>
        <div id="logo">
          <h1>Ad Hawk</h1>
        </div>
        <nav>
          <ul>
            <li><a href="#">Top Ads</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav> 
      </header>
    {% endif %}
    <div id="content">
      {% block content %}{% endblock %}
    </div> <!-- end div content -->
    {% if client != "ios" and client != "android" %}
    <footer>
    </footer>
    {% endif %}
  </div> <!-- end div page -->
  </body>
</html>
