<!DOCTYPE html>

<html lang="en">
  <head>
    <script type='text/javascript' src='../static/js/jquery-1.7.2.min.js'></script>
    <script type='text/javascript' src='../static/js/protoFluid3.02.js'></script>


    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Ad Hawk from the Sunlight Foundation</title>

    <link rel="shortcut icon" href="../static/img/favicon.ico">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="http://assets.sunlightfoundation.com.s3.amazonaws.com/site/4.0/scripts/gigya.min.js"></script>
<script type="text/javascript" src="//use.typekit.net/wgi6ubk.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <meta name="keywords" content="" />
    <meta name="description" content="Discover who is behind the super pacs and other groups buying the political ads you see during this election" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/core.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/antiscreen.css" type="text/css" media="handheld,screen and (max-width: 800px)" />
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22821126-22']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

    </script>
        <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


  </head>
  <body>
  <div id="page">
    {% if client != "ios" and client != "android" %}
    <header class="header">
        <div class="gradient-header">
            <div class="contentbox">
                <h1 id="logo">
                    <a href="/">Ad Hawk</a>
                </h1>
                <nav>
                    <ul class="clearfix noSearch">
                        <li class="nav-word"><a href="/ad/top/">Popular Ads</a></li>
                        <li class="nav-word"><a href="/about">About</a></li>
                        <li class="nav-word"> <a href="http://sunlightfoundation.com/contact/">Contact</a></li>
                        <!-- SEARCH BIZ FOR LATER TIMES [***note*** Remove noSearch class when this is added back in]
                        <li class="searchmobile"><a href="#">Search</a></li>
                       -->
                        <li id="sunlight-logo">
                            <div>
                                <a href="http://www.sunlightfoundation.com"><img src="http://design.sunlightlabs.com/AdHawk/AdHawk_sunlight-logo.jpg" alt="Sunlight Foundation Logo"></a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- SEARCH BIZ FOR LATER TIMES
                <div id="search" class="clearfix">
                    <form action="/search/" method="get">
                        <input class="transparent" type="text" name="q" id="id_q" placeholder="Search ads by funder or keyword">
                        <button class="css3button search-button" type="submit">
                            <span>Search</span>
                        </button>
                    </form>
                </div>
                -->
                <div class="clear"></div>
            </div>
        </div>
      </header>
    {% endif %}
    <div id="content">
      {% block content %}{% endblock %}
    </div> <!-- end div content -->
    {% if client != "ios" and client != "android" %}
    <footer>
        <div class="desktop-footer">
            <div class="contentbox">
            <div class="learnmore">
                <img src="http://design.sunlightlabs.com/AdHawk/AdHawk_footer-product.png" alt="Product of the Sunlight Foundation">
                <h5>Like this Project and Want to Discover Others Like It?</h5>
                <p>Join the Sunlight Foundation's open government community to learn more.</p>
            </div>
            <div class="signup">
                <form action="{% url mailinglist_subscribe %}" method="post" id="signup-form">  <!-- make signup, not search-->
                    {% csrf_token %}
                    <input class="transparent email" type="email" name="email" placeholder="Email Address">
                    <input class="transparent zipcode" type="text" name="zipcode" placeholder="Zip Code">
                    <button class="css3button signup-button" type="submit">
                        <span>Sign Up</span>
                    </button>
                </form>
                <div class="signup-thanks" style="display: none;">
                    Thanks for your high-flying interest in AdHawk!
                </div>
            </div>
            <div class="sunlightinfo">
                <a href="http://sunlightfoundation.com"><img src="http://design.sunlightlabs.com/AdHawk/AdHawk_footer-sunlight.png" alt="the Sunlight Foundation"></a>
                <p>Founded in 2006, the Sunlight Foundation is a non-partisan non-profit that uses cutting-edge technology and ideas to make government transparent and accountable. Visit <a href="http://sunlighfoundation.com">SunlightFoundation.com</a> to learn more.</p>
            </div>
        </div>
        </div>

        <div class="mobile-footer">
            <!-- Gigya Things-->
              <div class="share-buttons"
                    data-gigya="auto"
                    data-services="twitter, facebook"
                    data-options="linkBack={{ request.build_absolute_uri|urlencode:"" }}&amp;title={{ "Blah blah blah: "|urlencode:""}} {{ request.build_absolute_uri }}"
                    data-twitter-tweet-options="defaultText={{ "Blah blah blah blah!"|urlencode:"" }}&amp;countURL={{ request.get_full_path|urlencode:"" }}">
              </div>
            <!-- end Gigya Things -->
            <div class="sun-logo">
                <a href="http://sunlightfoundation.com/">
                <img src="http://design.sunlightlabs.com/AdHawk/AdHawk_footer-sunlight-mobile.png" alt="Sunlight Foundation">
                </a>
            </div>
        </div>

    </footer>
    {% endif %}
  </div> <!-- end div page -->
    <script>
        $(document).ready(function() {

            var $signupForm = $('#signup-form');

            $signupForm.submit(function(ev) {

                ev.preventDefault();

                var params = {
                    csrfmiddlewaretoken: $signupForm.find('input[name=csrfmiddlewaretoken]').val(),
                    email: $signupForm.find('input[name=email]').val(),
                    zipcode: $signupForm.find('input[name=zipcode]').val(),
                    response: 'json'
                };

                $.post(
                    $signupForm.attr('action'),
                    params,
                    function(data, status, xhr) {

                        console.log(data);

                        $signupForm.fadeOut(400, function() {
                            $('.signup-thanks').fadeIn().css('display', 'inline-block');
                        });

                    }
                );

                $signupForm.find('button[type=submit]').fadeOut();

            });

        });
    </script>
  </body>
</html>
