<!DOCTYPE html>

<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Ad Hawk</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="{{ STATIC_URL }}base.css" type="text/css" media="screen, projection" />
  </head>
  <body>
    {% if client != "app" %}
    <div id="branding">
      BRANDING GOES HERE (version is {{ client }})
    </div>
    {% endif %}
    <div id="content">
      {% block content %}{% endblock %}
    </div> <!-- end div content -->
    <div id="footer">
    </div> <!-- end div footer -->
  </body>
</html>
