{% load staticfiles %}
{% load glossary_tags %}
<div class="modalBoxWrap">
  <div class="modalBoxOverlay" id="modalBoxOverlay">
  </div>

  <div class="modalVerticalOffset" id="modalVerticalOffset">
    <div class="modalBox" id="wrapper">
        <div class="iscrollScroller" id="scroller">
          <a class="modalGlossaryLink" href="{% url glossary %}">Learn more in the glossary</a>
        </div>
      <a id="closeModal"><img src="{% static "img/modal_close.png" %}"/></a>
    </div>
  </div>
</div>

      <div class="definition" id="ActM">
        <h3>Activites</h3>
        {# {% glossarize %} #}
        <p>The Federal Election Commission (FEC) categorizes committees by, among other things, the activities in which they are allowed to engage. Here we list the various activities that this sponsor is currently engaged in. Please click on any of the activity names for more information.
        </p>
        {# {% endglossarize %} #}
      </div>
      <div class="definition" id="501M">
        <h3>501(c) Organizations</h3>
        {# {% glossarize %} #}
        <p>501(c) organizations are nonprofit, tax exempt organizations that are legally permitted to spend money to influence elections so long as politicking is not their primary purpose. The tax code defines different types of nonprofit group and the rules they must operate under. Section 501(c)(4) is for social welfare organizations--like Crossroads GPS and Priorities USA. Section 501(c)(5) is for labor unions, and section 501(c)(6) is for trade associations like the U.S. Chamber of Commerce and the American Petroleum Institute.
        </p>
        {# {% endglossarize %} #}
      </div>
      <div class="definition" id="AutM">
         <h3>Authorized Committees</h3>
        {# {% glossarize %} #}
         <p>Federal candidates must authorize in writing their political committees, which receive contributions and spend money on their behalf. Also known as candidate committees or campaign committees, examples include Obama for America and Mitt Romney for President Inc. Candidates directly control the money they raise through their authorized committees, and have the maximum amount of flexibility election law allows in how they can spend it.</p>
        {# {% endglossarize %} #}
      </div>
      <div class="definition" id="CitM">
         <h3>Citizens United</h3>
        {# {% glossarize %} #}
         <p>Shorthand for a series of court rulings in 2010 and 2011 that drastically loosened regulations on big campaign contributors. In Citizens United v. Federal Election Commission, the Supreme Court ruled that corporations and unions can make unlimited political contributions.</p>
        {# {% endglossarize %} #}
      </div>
      <div class="definition" id="DarM">
        <h3>Dark Money</h3>
        {# {% glossarize %} #}
        <p>Dark money refers to political contributions that are not disclosed, generally made to or by groups organized under section 501(c) of the tax code. While the Federal Election Commission (FEC) does require super PACs to disclose their donors, the super PACs are permitted to take money from nonprofits that don’t have to reveal the sources of their money, leading to a phenomenon that the Sunlight Foundation has dubbed “dead-end disclosure.”</p>
        {# {% endglossarize %} #}
      </div>
      <div class="definition" id="EleM">
        <h3>Electioneering Communications</h3>
        {# {% glossarize %} #}
        <p>Also known as issue ads, are any broadcast cable, satellite or radio communications that refer to a clearly identified candidate for federal office (Congress or the White House). Electioneering communications are more subtle than traditional campaign ads and independent expenditures. They talk about issues and often times either bash or support the policies, records or positions of a candidate, and are a route for corporations, unions and other groups to spend large sums of money without having to report it publicly. Money spent on electioneering does not have to be reported to the FEC unless the activity occurs within 30 days of a primary election, nominating convention or primary runoff (for states that require primary winners in congressional races to get more than 50 percent of the vote) and 60 days of a general election or runoff (for states that require general election winners in congressional races to get more than 50 percent of the vote).</p>
        {# {% endglossarize %} #}
      </div>
      <div class="definition" id="ExpM">
        <h3>Express Advocacy</h3>
        {# {% glossarize %} #}
        <p>Express advocacy refers to the “magic words” (or images) that distinguish independent expenditures from electioneering communications. The FEC writes: “There are two ways that a communication can be defined as express advocacy (candidate advocacy): by use of certain ‘explicit words of advocacy of election or defeat’ and by the ‘only reasonable interpretation’ test.” But the FEC has also found some communications to be expressly political even if they don’t use the “vote for” or “vote against” formulation.</p>
        {# {% endglossarize %} #}
      </div>
      <div class="definition" id="FedM">
        <h3>Federal Election Commission</h3>
        {# {% glossarize %} #}
        <p>The Federal Election Commission (FEC) administers and enforces the Federal Election Campaign Act (FECA), the statute that governs the financing of federal elections. It is an independent regulatory agency, with six commissioners appointed by the president and congressional leaders of the opposite party. More recently, it is often politically deadlocked around campaign regulation decisions. The agency does, however, have a professional staff that helps journalists and the general public get access to and interpretations of campaign information.</p>
        {# {% endglossarize %} #}
      </div>
      <div class="definition" id="IndM">
        <h3>Independent Expenditures (IEs)</h3>
        {# {% glossarize %} #}
        <p>An independent expenditure is any spending by any group to elect or defeat a federal candidate other than the campaigns of the candidates themselves. IE spending is disclosed to the FEC. Political parties, political action committees, PACs, super PACs, labor unions, corporations, nonprofit groups and individuals can make them, and they can include everything from paying salaries for door-to-door canvassers to printing bumper stickers to television commercials. In ads, independent expenditures expressly advocate the election or defeat of a clearly identified federal candidate. If a candidate’s name isn’t mentioned but his or her picture is used, it counts as an IE. So do terms that invoke a candidate or his policies (“Obamacare,” for instance). Groups and individuals making independent expenditures are not supposed to “coordinate” with the candidates they are benefiting, but if you don’t know what Stephen Colbert and Jon Stewart have to say about that, you should.</p>
        {# {% endglossarize %} #}
      </div>
      <div class="definition" id="PolM">
        <h3>Political Action Committee</h3>
        {# {% glossarize %} #}
        <p>A political action committee (PAC) is a group formed for the purpose of raising and spending money to influence elections, usually by contributing directly to candidates. PACs remain important players in elections, and they must abide by strict limits on how much money they can raise from individuals and organizations and spend on campaign (unlike super PACs and 501(c)s). The FEC defines two types of PACs: separate segregated funds (SSFs) and nonconnected committees. SSFs are established by corporations, labor unions, membership organizations or trade associations and can only raise money from individuals associated with them. Nonconnected committees are free to raise money from the general public. All traditional PACs must disclose donors to the FEC and the contributions they make to candidates.</p>
        {# {% endglossarize %} #}
      </div>
      <div class="definition" id="ParM">
         <h3>Party Committee</h3>
        {# {% glossarize %} #}
         <p>A political committee that represents a political party and is part of the official party structure at the national, state or local level. Examples include the Democratic National Committee, the Republican National Committee and related organizations such as the National Republican Senatorial Committee or the Democratic Congressional Campaign Committee.</p>
        {# {% endglossarize %} #}
      </div>
      <div class="definition" id="SocM">
          <h3>Social Welfare Organization</h3>
        {# {% glossarize %} #}
          <p>Another term for nonprofits that are 501(c)(4) organizations. While the IRS has defined rules how these groups operate, many of the new, politically active players--like Crossroads GPS and Priorities USA--have taken advantage of this category to raise and spend money on campaigns without disclosing it. While the IRS rules do allow such organizations to be politically active, it has signaled that it will be investigating to ensure that political organizations are not masquerading as social welfare groups to shield their donors from disclosure.</p>
        {# {% endglossarize %} #}
      </div>
      <div class="definition" id="SupM">
           <h3>Super PAC</h3>
        {# {% glossarize %} #}
           <p>Also known as “independent expenditure-only committees,” these groups can receive unlimited funds and spend that money to influence elections. Super PACs are not allowed to coordinate with campaigns on how to spend their money, but candidates can attend super PAC fundraisers.</p>
        {# {% endglossarize %} #}
      </div>
