{% extends "whopaid/base.html"%}
{% block content %}
<div class="landing-splash">
    <div class="contentbox clearfix">
        <img class="phone-screenshot" src="../static/img/AdHawk_phone_splash.png" width="300" height="339" alt="Phone screenshots"/>
        <div class="landing-splash-content">
            <img class="hone-in" src="../static/img/AdHawk_Hone-in.png" width="337" height="79" alt="Hone in on Political Ads"/>
            <p>Ad Hawk is a free mobile app that allows you to identify political ads as they air and immediately learn about who is behind them. Want to know who is spending money to influence your vote? The app provides valuable contextual information about the candidate, super PAC and issues ads airing on TV and radio this election year.</p>
                <!-- App Buttons  -->
            <div class="landing-app-btns">
                <div class="mobilePrompt">
					<a class="android" href="https://play.google.com/store/apps/details?id=com.sunlightfoundation.adhawk.android">Android app on Google play</a>
					<a class="ios" href="http://itunes.com/apps/sunlightfoundation/adhawk">Available on the App Store</a>
				</div>                
            </div>
              <!-- Gigya Things-->
              <div class="share-buttons"
                data-gigya="auto"
                data-services="twitter-tweet, facebook-like"
                data-options="linkBack={{ request.build_absolute_uri|urlencode:"" }}&amp;title={{ "Blah blah blah"|urlencode:""}}&amp;showCounts=true&amp;shortURLs=always&amp;userMessage={{ "This is the user message"|urlencode:"" }}"
                data-twitter-tweet-options="defaultText={{ "Blah blah blah blah!"|urlencode:"" }}">
              </div>
              <!-- end Gigya Things -->
        </div>
    </div>
</div>

<div class="landing-main">
    <div class="contentbox clearfix">
        
        <div class="video-wrapper">
        	<div class="video-container">
                <iframe width="560" height="315" src="http://www.youtube.com/embed/0SG7_DOVpBw" frameborder="0" allowfullscreen></iframe>
            </div><!-- /video -->
         </div><!-- /video-wrapper -->
         <img class="phone-screenshot" src="../static/img/AdHawk-main-screenshot.png" width="289" height="295" alt="AdHawk Main Screenshot"/>
    </div>
</div>

<div class="landing-threecol clearfix">
    <div class="contentbox">
        <div class="threecol first">
            <h3>Listen</h3>
            <p>When you see a political ad on TV or hear one on the radio, open the app and click the TV set to have Ad Hawk start listening to the ad. In less than 30 seconds, Ad Hawk will create an audio fingerprint and start searching for a match.</p>
            <p><a href="/about">View our methodology &#187;</a></p>
        </div>
        
        <div class="threecol middle">
            <h3>Identify</h3>
            <p>We then compare what you heard against our continuously updated database of ads. We identify new ads by monitoring media reports and the YouTube channels of political groups and campaigns.</p>
            <p><a href="/about">Read more about our data sources &#187;</a></p>
        </div>
        
        <div class="threecol last">    
            <h3>Learn</h3>
            <p>When Ad Hawk finds a match, you will get information about how much money the ad’s sponsor received or spent, where the ad is on the air and media reports about the candidate or political group.</p>
            <p><a href="/about">Explore the data that makes Ad Hawk soar &#187;</a></p>
        </div>
    </div>
</div>



{% endblock %}
