{% extends "whopaid/base.html" %}
{% block content %}
    <div id="main">
    <div id="gradient">
    <div id="title">
     <h1>Why Couldn't I Find a Match?</h1>
     </div>

      <div id="about_content">
      
       <div class="line_a">
          <h3>Distorted or Missing Audio:</h3>
          <p>Ad Hawk needs approximately 15 seconds of audio to correctly fingerprint the ad. Next time keep Ad Hawk close to catch the biggest portion of the ad and keep non-ad noise to a minimum.</p>
       </div>
       
       <div class="line_a">
          <h3>Not in Our Database Yet:</h3>
          <p>Disclosure requirements are currently lacking, if Sunlight had our druthers the details of donors and ad buy information would be available as it happens. We are constantly expanding our database to include the latest ads but it’s an endless game of catch up. We must manually fingerprint the ads and bring in any contextual information we can find. For more information about the process see our methodology on the <a href="http://adhawk.sunlightfoundation.com/about/">About</a> page. Hopefully we’ll have this ad the next time it airs!</p>
       </div>
       
       <div class="line_a">
          <h3>No Internet Connection:</h3>
          <p>Ad Hawk needs to upload the audio fingerprint to match against our database of ads and return results to you.</p>
       </div>
       
      </div> 
    </div>
    </div>
{% endblock %}
