Django==1.4
SQLAlchemy==0.6.6
South==0.7.5
argparse==1.2.1
csvkit==0.4.4
dbf==0.90.004
-e git://github.com/sunlightlabs/ffs.git@88113bb964a371d11f92641077510cd56750c7d8#egg=ffs-dev
gdata==2.0.17
ipython==0.13
numpy==1.6.2
openpyxl==1.5.7
psycopg2==2.4.5
python-dateutil==1.5
wsgiref==0.1.2
xlrd==0.7.1
django-debug-toolbar==0.9.4