{% extends "whopaid/base.html" %}
{% block content %}
<!--
Didn't find what you were looking for? Try again! Make sure to use full words (apparently!)
<form method="get" action=".">
    <table>
        <tbody>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Search"></td>
            </tr>
        </tbody>
    </table>
</form>
-->
<div id="main">
    <div id="gradient">
        <div class="contentbox clearfix">
        {% if query %}

            <!-- Begin faceting. -->
            <div class="narrowCol">
                <h3>Narrow your search results</h3>
                <div>
                    <div class="line_a">
                        {% if facets.fields.funder_name %}
                            <h5>Funder</h5>
                            <ul>
                            {% for funder_name in facets.fields.funder_name %}
                                <li>
                                    <a href="{{ request.get_full_path }}&amp;selected_facets=funder_name_exact:{{ funder_name.0|urlencode }}">{{ funder_name.0 }}</a> ({{ funder_name.1 }})
                                </li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            <p>No funders.</p>
                        {% endif %}
                        {% if facets.fields.funder_party %}
                        </div>

                        <div class="line_a">
                            <h5>Funder Party</h5>
                            <ul>
                            {% for funder_party in facets.fields.funder_party %}
                                <li>
                                    <a href="{{ request.get_full_path }}&amp;selected_facets=funder_party_exact:{{ funder_party.0|urlencode }}">{{ funder_party.0 }}</a> ({{ funder_party.1 }})
                                </li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            <p>No funder parties.</p>
                        {% endif %}
                        </div>

                        <div>
                            <h5>Funder Type</h5>
                            {% if facets.fields.funder_committee_type %}
                            <ul>
                            {% for funder_committee_type in facets.fields.funder_committee_type %}
                                <li>
                                    <a href="{{ request.get_full_path }}&amp;selected_facets=funder_committee_type_exact:{{ funder_committee_type.0|urlencode }}">{{ funder_committee_type.0 }}</a> ({{ funder_committee_type.1 }})
                                </li>
                            {% endfor %}
                            </ul>
                            {% else %}
                            <p>No funder types.</p>
                            {% endif %}
                        </div>
                </div>
            </div>

            <!-- End faceting -->

            <!-- Display results... -->
            <div class="mainCol">
                {% for result in page.object_list %}
                    <div class="line_b">
                        <h3><a href="{{ result.object.get_absolute_url }}">{{ result.object.ad.title }}</a></h3>
                        <p>{% autoescape off %}{{ result.object.thumbstrip }}{% endautoescape %}</p>
                    </div>
                {% empty %}
                    <p>Sorry, no results found.</p>
                {% endfor %}

                <!-- Begin Pagination -->
                <div class="pagination">
                    <p>
                        {% if page.has_previous %}
                        <a href="?q={{ query }}&page={{ page.previous_page_number }}">previous</a>
                        {% endif %}

                            Page {{ page.number }} of {{ page.paginator.num_pages }}

                        {% if page.has_next %}
                        <a href="?q={{ query }}&page={{ page.next_page_number }}">next</a>
                        {% endif %}
                    </p>
                </div>
                <!-- End pagination -->
           </div>
        {% endif %}


        </div>

    <!-- End Display results -->


    </div>
</div>
{% endblock %}
