{% extends "whopaid/base.html" %}
{% block content %}

<div id="main">
	<div id="gradient" class="clearfix">
		<div class="contentbox">
			<div class="errorFour">
				<div class="errorText">
					<h1>500 Error</h1>
					<p class="line_b">Something went wrong. Try again in a minute.</p>
				</div>
				<div class="mobilePrompt">
					<p>
						Get back on track with one of the Ad Hawk mobile apps.
					</p>
					<a class="android" href="https://play.google.com/store/apps/details?id=com.sunlightfoundation.adhawk.android">Android app on Google play</a>
					<a class="ios" href="http://itunes.com/apps/sunlightfoundation/adhawk">Available on the App Store</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
