{% extends "whopaid/base.html" %}
{% block content %}

<div id="main">
	<div id="gradient" class="clearfix">
		<div class="contentbox">
			<div class="errorFour">
				<h1>Error</h1>
				<p>Looks like you’ve taken a wrong turn.</p>
				<div class="mobilePrompt">
					<p>
						Get back on track with one of the Ad Hawk mobile apps.
					</p>
					<a class="android" href="">Available on the App Store</a>
					<a class="ios" href="">Android app on Google play</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

