#page {
  margin: 0;
  padding: 0;
  max-width: 100%;
}


#strip,
#title,
#profile {
    float: none;
    }


#sunlight-logo {
    display: none;
    } 
 
#search {
    display:none;
    } 

.searchmobile {
    display: inline;
    border-right: none;
    padding-right: none;
    margin-right: none;
    }

#title h2 {
    padding-top: 1em;
    }

#breadcrumbs {
    padding-left: 5%;
    width: 95%;
    }

.buffer {
    padding-left: 0;
    }


h1#logo{
    margin: 27px 0 27px 5%;
    }

nav {
    padding-right: 0;
    }

#funder_name {
    width: 100%;
    padding-bottom:  2em;
    }
    
#funder_activities h3 {
    width: 100%;
    float: none; 
    }    

#funder_activities ul {
   width: 100%;
   float: none;
   }

#funder_received{
    width: 100%;
    float: left
   }

.main-results{
    width:100%;
    border:none;
}

#more_info {
    width: 100%;
    border:none;
    float: none;
    margin-left: 0;
    padding-left: 0;
}

#financial_info{
    }  

#total_spent{
    width: 100%;
    float: left
       }

#cash_hand{
    width: 100%;
    float: left
    }



    
.strip {
    float: none;
    margin-top: 0;
    max-width: 100%;
    }

#graph {
    width: 100%;
    float: none;
    }
  
#funder {
    padding-left: 5%;
    padding-right: 5%;
    }  

#funder_description {
    width: 100%;
    float: none;
    }

#funder_received p,
#financial_info p {
    font-weight: bold;
    }
  
#financial_info {
  -webkit-column-count: 2;
  -webkit-column-gap: 30px; 
  -webkit-column-rule: 1px solid #f4eee3;
  -moz-column-count: 2;
  -moz-column-gap: 30px;  
  -moz-column-rule: 1px solid #f4eee3;
  column-count: 2;
  column-gap: 30px; 
  column-rule: 1px solid #f4eee3;
 } 
	
   
 #title {
     width: 90%;
     padding-left: 5%;
     padding-right: 5%;
     clear: both;
     float: none;
    }
  
#title h2 {
     max-width: 100%;
     float: none;
     }
   
    
/*
* NAV
*/


nav {
    float: none;
    clear: both;
    background-color: #7b705a;
    border-top: 1px #564e3e solid;
    border-bottom: 1px #564e3e solid;
    width: 100%;
    }

nav ul {
    list-style: none outside none;
    }

nav li {
    float: left;
    font-size: 0.875em;
    padding: .8em 0;
    margin:0;
    border-right: 1px #564e3e solid;
    width:24.7%;
    text-align: center;
    }

nav li a{
    color: #d4d0c9;
    text-decoration: none;
    font-weight: bold;
    }

.nav-word {
    padding-top: .8em;
    }

nav li a:visited{
    color: #d4d0c9;
    }
    
    
    
/* FOOTER */

.desktop-footer{
    display:none;
    }  
   
   




