{% extends "knowledge_base/base.html" %}
{% block content %}
      <div id="branding">
        BRANDING GOES HERE
      </div> <!-- end div branding -->
      <div id="title">
        <h1>{{ ad.title }}</h1>
        <p><a href="http://adhawk.sunlightfoundation.com/ad/nn/{{ media.pk}}">not your ad?</a></p>
      </div> <!-- end div title -->
      <div id="preview">
        <a class="youtube_link" href="{{ media.url }}">
          <img class="thumbstrip" src="http://adhawk.sunlightfoundation.com/media/images/media_thumbnails/strips/Media_{{ pk_pad }}_strip.jpg">
        </a>
      </div> <!-- end div preview -->
      <div id="funder_name">
        <h2>Sponsor:</h2> {{ funder_family.name }}
        {% if funder_family.is_superpac %}
        <p> This group is a <a href="link_to_superpac_def"><em>Super Pac</em></a></p>
        {% endif %}
      </div> <!-- end div funder_name -->
      <div id="committee_activities">
        <h3>Activities:</h3>
        <ul>
          {% for committee_type in funder_family.committee_types.all %}
          <li> {{ committee_type.name }} </li>
          {% endfor %}
        </ul>
      </div> <!-- end div committee_activites -->
      <div id="financial_info">
        <h3>Recieved: </h3> {{ funder_family.total_contributions }}
        <h3>Spent: </h3> {{ funder_family.total_independent_expenditures }}
        <h3>Cash on hand: </h3> {{ funder_family.cash_on_hand }}
      </div> <!-- end div financial_info -->
      <!-- TODO 
      <div id="financial_viz">
      </div>
      <div id="coverage">
      </div> 
      -->
{% endblock %}
