{% extends "whopaid/base.html" %}
{% block content %}
      {% if client != "ios" and client != "android" %}
        {% block subhead_nav %}
          {% include "knowledge_base/subhead_nav.html" %}
        {% endblock %}
      {% endif %}
      {% block title_and_strip %}
        {% include "knowledge_base/title_and_strip.html" %}
      {% endblock %}
    <div id="profile">
      {% block funder_profile %}
        {% include "knowledge_base/funder_profile.html" %}
      {% endblock %}
    </div> <!-- end div profile -->
{% endblock %}
