{% block funder_profile %}
      <div id="funder_name">
        <h3>Sponsor:</h3> {{ funder_family.name|title }}
          {% if funder_family.is_superpac %}
            <p><a href="link_to_superpac_def"><em>Super Pac</em></a></p>
          {% endif %}
      </div> <!-- end div funder_name -->
      <div id="funder_chart">
        <!-- code for bar chart goes here -->
      </div> <!-- end div funder_chart -->
      <div id="funder_description">
        <p> {{funder_family.description}} <p>
      </div> <!-- end div funder_description -->
      <div id="funder_activities">
        <h3>Activities:</h3>
        <ul>
          {% for committee_type in funder_family.committee_types.all %}
            <li> {{ committee_type.name }} </li>
          {% endfor %}
        </ul>
      </div> <!-- end div funder_activites -->
      <div id="funder_financial_info">
        <h3>Total Received: </h3> ${{ funder_family.total_contributions }} <br />
        <h3>Total Spent: </h3> ${{ funder_family.total_independent_expenditures }} <br/>
        <h3>Cash on hand: </h3> ${{ funder_family.cash_on_hand }} <br />
      </div> <!-- end div funder_financial_info -->
{% endblock %}
