{% block subhead_nav %}
<!-- COMMENTING OUT ALL
        <div id="breadcrumbs" >
            <div class="contentbox">
-->             
             <!-- SEARCH BIZ FOR LATER TIMES
              <ul class="clearfix contentbox">
                <li>
                  <a href="http://adhawk.sunlightfoundation.com/ad/">All Ads </a>
                </li>
            
                <li>&#187;</li>
            
                <li>
                  <a href="http://adhawk.sunlightfoundation.com/ad/funder/{{ funder_family.pk}}">{{ funder_family.name|title|truncatechars:30 }}</a>
                </li>
              </ul>
              
              
              -->
              
              
              <!-- Gigya Things
              <div class="share-buttons"
                    data-gigya="auto"
                    data-services="twitter, facebook"
                    data-options="linkBack={{ request.build_absolute_uri|urlencode:"" }}&amp;title={{ "Blah blah blah"|urlencode:""}}&amp;cid={{ "Ad-Hawk_ad_"|urlencode:"" }}&amp;shortURLs=always&amp;">
              </div>
               end Gigya Things -->


<!-- COMMENTING OUT ALL
          </div>
        </div> 
        
-->        
{% endblock %}
