{% block title_and_strip %}
      <div id="topgrade"></div>
      
      <div id="title">
        <h2>{{ ad.title }}</h2>
        {% if client = "ios" or client = "android" %}
        <p><a href="http://adhawk.sunlightfoundation.com/ad/nn/{{ media.pk}}">not your ad?</a></p>
        {% endif %}
      
        <a id="youtube_link" href="{{ media.url }}"><img class="strip" src="http://adhawk.sunlightfoundation.com/media/images/media_thumbnails/strips/Media_{{ media.pk|stringformat:"05i" }}_strip.jpg"></a>
      </div>         
      <div id="btmgrade"></div>
{% endblock %}
