{% block title_and_strip %}
      
   <div id="main">
   <div id="gradient2">
      <div id="title" class="contentbox">
        <h2>{{ ad.title }}</h2>
        {% if client = "ios" or client = "android" %}
        <p><a href="http://adhawk.sunlightfoundation.com/ad/nn/{{ media.pk}}">not your ad?</a></p>
        {% endif %}
      
        <a id="youtube_link" href="{{ media.url }}"><img class="strip" src="http://adhawk.sunlightfoundation.com/media/images/media_thumbnails/strips/Media_{{ media.pk|stringformat:"05i" }}_strip.jpg" alt="youtube thumbnail"></a>
            <div id="funder_name">
                <h3>Sponsor:</h3> 
                <h4>{{ funder_family.name|title }}
                {% if funder_family.is_superpac %}<a href="link_to_superpac_def"><em>Super Pac</em></a>
                {% endif %}</h4>
            </div>     
        </div> <!-- end div funder_name --> 
   </div>
   </div>       
{% endblock %}
