{% extends "whopaid/base.html" %}
{% block content %}
    <div id="title">
      <h1>Top Ads</h1>
    </div> <!-- end div title -->
    <div id="top_ad_list">
      <ul>
        {% for media in medias %}
          <li>
            <h2>
              <a class="ad_profile_link" href="http://adhawk.sunlightfoundation.com/ad/{{ media.pk }}/">
                {{ media.ad.title }}
              </a>
            </h2>
            <h3>Funder: {{ media.media_profile.funder.name|title }}</h3>
            <a class="youtube_link" href="{{media.url}}">
              <img class="thumbstrip" src="http://adhawk.sunlightfoundation.com/media/images/media_thumbnails/strips/Media_{{ media.pk|stringformat:"05i" }}_strip.jpg">
            </a>
          </li>
        {% endfor %}
      </ul>
    </div> <!-- end div top_ad_list -->
{% endblock %}
