{% extends "whopaid/base.html" %}
{% block content %}

  <div id="subhead">
    <div id="title">
      <h1>Top Ads</h1>
    
    <div id="top_ad_list">
      <ul>
        {% for media in medias %}
          <li>
            <h2>
              <a id="ad_profile_link" href="{{ EXTERNAL_URL }}/ad/top/{{ media.pk }}/">
                {{ media.ad.title }}
              </a>
            </h2>
            <h3>Sponsor:</h3>
            <p>{{ media.media_profile.funder.name|title }}</p>
            <a id="youtube_link" href="{{media.url}}">
              <div id="strip">
                 <img src="http://adhawk.sunlightfoundation.com/media/images/media_thumbnails/strips/Media_{{ media.pk|stringformat:"05i" }}_strip.jpg">
               </div>
            </a>
          </li>
          <div id="line-dk"></div>

        {% endfor %}
      </ul>
    </div> <!-- end div top_ad_list -->
    </div> <!-- end div title -->
  </div>
  
  
{% endblock %}
